{
    "env": {
        "dev": {
            "plugins": ["transform-flow-strip-types"]
        },
        "prod": {
            "plugins": ["transform-flow-strip-types", "transform-remove-console"]
        }
    }
}
